body{
   margin: 0px 0;
   padding: 100px 0px 0px 0px;
  }
#search-engine{
   color: grey;
   flex: 0 0 100%;
   max-width: 80%;
   }
a {
   color: grey;
}

#search-box{
   box-shadow: 0 1px 0 0 gray;
   line-height: 36px;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   border: none;
   border-radius: 0px;
   flex: 0 0 60%;
   max-width: 100%;
}
#search-input{
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   border: none;
   border-radius: 0px;
}
#search-button{
   font-size: 30px;
   text-align: left;
   margin:0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   border: none;
   flex: 0 0 10%;
   max-width: 10%;
}
#search-current{
   font-size: 30px;
   text-align: left;
   margin:0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   flex: 0 0 10%;
   max-width: 10%;
}

#search-scale{
   font-size: 30px;
   text-align: right;
   margin:15px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   flex: 0 0 20%;
   max-width: 20%;
}
#search-scale .active {
   color: rgb(41, 41, 41);
   cursor: default;
   font-weight: bold;
}
#search-scale .active:hover {
   text-decoration: none;

 }
#main {
   background: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
   opacity: 0.9;
   margin-left: 0px;
   margin-top: 5px;
   margin-right: 0px;
   padding-right: 0px;
   padding-left: 0px;
   flex: 0 0 100%;
   max-width: 80%;
   box-shadow: 5px 5px 4px #888888;
 }

#city {
   line-height: 24px;
   font-family: 'Montserrat', sans-serif;
   font-size: 30px;
   font-weight: 900;
   color: #00796B; 
   padding-top: 15px;
   text-align: Left;
}
#date {
   line-height: 20px;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   font-weight: 600;
   color: #00796B; 
   top: 0px;
   text-align: Left;
}
#description{
   text-align: left;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 900;
   color:#00796B;
   text-transform: capitalize;
}
#weather-condition-other{
   line-height: 16px;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 400;
   color: #00796B; 
   top: 0px;
   text-align: Left;
}
#icon {
  position: relative;
  color: #00796B; 
  text-align: center;
  top: 50px;
  bottom: -10px;
  padding: 0px 0px 0px 0px;
  padding-left: 0px;
  opacity: 0.80;
}
#temperature{
  position: relative;
  margin: 0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  text-align: center;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 80px;
  font-weight: 900;
  color:#00796B;
}
.card-text, .card-temp{
   margin: 0px 0px 0px 0px;
   padding:0px 0px 0px 0px; 
   text-align: center;
 }
.card-text{
   font-weight: bold;
}
.card-body{
   margin: 0px 0px 0px 0px;
   padding:0px 0px 0px 0px; 
   text-align: center;
}
#group-card-first{
   padding-top: 10px;
  
}
#group-card-second{
   padding-top: 0px;
}
#open-source{
  font-size: 12px;
  display: block;
  text-align: center;
  margin:5px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  max-width: 80%;
}
